@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --hero-green: #93E735;
    --green-markdown: #6A9C31;
    --black: #1A1F23;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

body{
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ---- default styles ---- */
figure img{
    height: 100%;
}

.txt-box{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}

.txt-box h1{
    font-size: 2.5rem;
    color: var(--black);
}

.txt-box h1 span {
    padding: 5px;
    color: white;
    background-color: var(--green-markdown);
}

.txt-box p{
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
}

input{
    border: none;
}

button{
    border: none;
}

.section-header{
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.section-header h2{
    font-weight: 400;
    color: var(--green-markdown);
}

.header-dark-section h2{
    color: var(--hero-green);
}

.txtHero h1 span{
    background-color: transparent;
}

/* ---- mobile first ---- */
main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20%;
    align-items: center;
    position: relative;

    padding: 10% 10% 0 10%;
    height: 100vh;
    background: url("../img/hero-section-bg.svg") left top no-repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 7%;
}

nav .logo{
    height: 100%;
}

/*------------------------------------------*/
/*  Section Hero */
.bg-disco{
    position: absolute;
    height: 48%;
    top: 20%;
    left: 0;
}

.hero-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
}

.txtHero-container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 40px;
}

.txtHero{
    width: 94%;
    color: white;
}

.txtHero h1{
    font-size: 2.3rem;
    color: white;
}

.txtHero h1 .hero-span{
    color: var(--hero-green);
}

.txtHero p{
    font-weight: lighter;
}

.hero-search{
    display: flex;
    width: fit-content;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.13);
    box-shadow: 10px 0px 50px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
    border-radius: 7px;
}

.hero-search input{
    padding: 18px;
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    color: white;
}

.hero-search input::placeholder{/* Chrome, Firefox, Opera, Safari 10.1+ */
    font-weight: lighter;
    color: var(--hero-green);
}

.hero-search input:-ms-input-placeholder{/* Internet Explorer 10-11 */
    font-weight: lighter;
    color: var(--hero-green);
}

.hero-search input::-ms-input-placeholder{/* Microsoft Edge */
    font-weight: lighter;
    color: var(--hero-green);
}

.hero-search button{
    padding: 15px;
    background-color: var(--green-markdown);
}

/* --> cards from hero section */
.data-cards-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.1));
}

.data-cards-container .row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.data-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    width: 100%;
    height: 180px;
    text-align: center;
    background-color: white;
}

/* seção 02 ---------------------------------------*/
.sobre-nos-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 300px;
}

.sobre-nos-section .txt-box{
    padding: 10% 10% 0 10%;
}

.txtImg01 figure,
.txtImg02 figure{
    width: 100%;
    overflow: hidden;
}

.txtImg02 figure{
    text-align: right;
}

.txtImg01 figure img,
.txtImg02 figure img{
    width: 70%;
}

.txtImg01 figure img{
    border-radius: 0 20px 20px 0;
}

.txtImg02 figure img{
    border-radius: 20px 0 0 20px;
}

.txtImg-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.txtImg02{
    display: flex;
    justify-content: right;
}

.txtImg02 span{
    padding: 0 10% 0 10%;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--green-markdown)
}

/* seção 03 */
.oq-fazemos-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 130px 10%;
    margin-top: 130px;
    color: white;
    background-color: var(--black);
}

.oq-fazemos-section h1{
    color: white;
}

.oq-fazemos-section .txt-box video{
    background-color: black;
}

/* seção 04 */
.tipos-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 30px 0 30px 10%;
    margin-top: 130px;
    width: 100%;
}

.tipos-section .txt-box{
    padding: 0 10% 0 0;
}

.imovel-cards-container{
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    /* overflow: overlay; */
}

.imovel-card{
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 10px;
    align-items: end;
    padding: 40px 25px;
    width: 250px;
    height: 350px;
    color: white;

    /* scrollbar-width: thin; */
    /* scrollbar-color: var(--green-markdown); */
}

.urban-card{
    background: no-repeat url("../img/imovel-bgCard01.svg") 100%;
}

.rural-card{
    margin-right: 30px;
    background: no-repeat url("../img/imovel-bgCard02.svg") 100%;
}

/*seção 05*/
.parceiros-section{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 130px 10%;
    margin-top: 130px;
    color: white;
    background-color: var(--black);
}

.parceiros-section h1{
    color: white;
}

.parceiros-carousel-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 80%;
}

.parceiros-cards-container{
    display: flex;
    flex-direction: row;
}

.parceiro-card{
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: end;
    padding: 20px 30px;
    width: 300px !important;
    height: 400px;
    background-color: rgb(76, 76, 76);
}

.parceiro-card .parceiro-content{
    display: flex;
    gap: 15px;
}

.parceiro-card .parceiro-logo{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: white;
}

.parceiro-card  article h1{
    font-size: 1.4rem;
}

.parceiro-card article h2{
    font-size: 1rem;
}

/* pagination */
.swiper-pagination{
    position: absolute;
    bottom: 30px;
}
  
.swiper-pagination-bullet{
    position: relative;
    width: 33px;
    height: 33px;
    border: 2px solid var(--hero-green);
    border-radius: 50%;
    background: var(--hero-green);
    --swiper-pagination-bullet-inactive-opacity: 0.1;
}
  
.swiper-button-next, 
.swiper-button-prev{
    position: absolute;
    top: 63%;   
    opacity: 0.7;
    color: var(--hero-green);
    transition: all 0.3s ease;
}

.swiper-button-prev{
    left: 10%;
}

.swiper-button-next{
    right: 10%;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: var(--hero-green);
}

/*seção 06*/
.avali-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 130px 10%;
    margin-top: -1px;
    color: white;
    background-color: var(--black);
}

.avali-section .section-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.avali-section .section-header h1{
    font-size: 2rem;
}

.avaliacoes-carousel-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.avaliacoes-cards-container{
    display: flex;
    justify-content: center;
    width: fit-content;
}

.avaliacoes-cards-container .avaliacao-card{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    padding: 70px 37px;
    border: 1px solid #6A9C31;
    background-color: #3A3A3A;
}

.avaliacoes-cards-container .avaliacao-card header{
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 100%;
}

.avaliacoes-cards-container .avaliacao-card figure{
    width: 57px;
    height: 57px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(184, 184, 184);
}

.avaliacoes-cards-container .avaliacao-card header h1{
    font-size: 1.7rem;
}

.avaliacoes-cards-container .avaliacao-card header h2{
    font-size: 1rem;
}

.avaliacao-card header h2{
    color: var(--hero-green);
}

.avaliacoes-cards-container .avaliacao-card header .subLocal{
    font-weight: 100;
}

/*seção 07*/
.contato-section{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 53px;
    align-items: center;
    position: relative;
    padding: 130px 10%;
    background-color: #6A9C31;
}

.contato-section .txt-box,
.contato-section .txt-box h1
{
    color: white;
}

.contato-section figure{
    position: relative;
    width: 130%;
    height: 20px;
}

.contato-section figure img{
    position: absolute;
    top: -10px;
    left: -50%;
    height: 230%;
}

.contato-section form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
}

.contato-section form input,
.contato-section form textarea{
    width: 100%;
    border: none;
    outline: none;
    padding: 13px;
}

.contato-section form input{
    height: 50px;
}

.contato-section form textarea{
    height: 130px;
    resize: none;
}

.contato-section form button{
    width: 100%;
    height: 70px;
    font-weight: bold;
    color: white;
    background-color: var(--black);
}

/*seção 08*/
footer{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 53px;
    align-items: center;
    padding: 130px 10%;
    color: white;
    background-color: var(--black);
}

footer .info-row{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

footer .info-row div{
    width: 100%;
}

footer .info-row h1{
    margin-bottom: 10px;
    font-size: 1.3rem;
}

footer .info-row02  div figure{
    display: flex;
    justify-content: start;
    gap: 13px;
    align-items: center;
}

/* 360px */
@media only screen and (min-width: 360px) {
    /* 2nd section ------------------- */
    .sobre-nos-section{
        margin-top: 370px;
    }
    
    .txtImg02 span{
        width: 70%;
        font-size: 1.8rem;
    }
}

/* 412px */
@media only screen and (min-width: 412px) {
    /* 2nd section ------------------- */
    .sobre-nos-section{
        margin-top: 233px;
    }
    
    .txtImg02 span{
        width: 70%;
        font-size: 1.8rem;
    }
}

/*tablet response*/
@media only screen and (min-width: 600px) {
    /*hero section*/
    .txtHero{
        width: 90%;
    }

    .txtHero h1{
        width: 100%;
        font-size: 3.3rem;
    }
    
    .txtHero p{
        font-size: 1.7rem;
    }
    
    .hero-search input{
        padding: 37px;
        font-size: 1.7rem;
    }
    
    .hero-search button{
        padding: 33px;
    }

    /* 2nd section ------------------- */
    .sobre-nos-section{
        margin-top: 70px;
    }
    
    .txtImg02 span{
        width: 70%;
        font-size: 1.8rem;
    }

    /*4th section ------------------- */
    .imovel-cards-container{
        gap: 53px;
        overflow-x: hidden;
    }
    
    .imovel-card{
        padding: 40px 25px;
        width: 293px;
        height: 450px;
        color: white;
    }

    /*7th section --------------------------------- */
    .contato-section{
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 93px;
        align-items: center;
    }

    .contato-section h1{
        font-size: 2.7rem;
    }

    .contato-section p{
        font-size: 1.4rem;
    }

    .contato-section figure{
        position: relative;
        width: 130%;
        height: 20px;
    }

    .contato-section figure img{
        top: 23px;
        left: -24%;
        height: 303%;
    }

    .contato-section form input{
        height: 63px;
        font-size: 1.3rem;
    }

    .contato-section form textarea{
        height: 130px;
        resize: none;
        font-size: 1.3rem;
    }

    .contato-section form button{
        font-size: 1.3rem;
        height: 83px;
    }

}

/*tablet response*/
@media only screen and (min-width: 768px) {
    /*hero section*/
    .txtHero{
        width: 90%;
    }

    .txtHero h1{
        width: 80%;
        font-size: 3rem;
    }
    
    .txtHero p{
        font-size: 1.3rem;
    }
    
    .hero-search input{
        padding: 23px;
        font-size: 1.3rem;
    }
    
    .hero-search button{
        padding: 23px;
    }

    /* 2nd section ------------------- */
    .sobre-nos-section{
        margin-top: 230px;
    }
    
    .txtImg02 span{
        width: 70%;
        font-size: 1.8rem;
    }

    /*4th section ------------------- */
    .imovel-cards-container{
        gap: 53px;
        overflow-x: hidden;
    }
    
    .imovel-card{
        padding: 40px 25px;
        width: 293px;
        height: 450px;
        color: white;
    }

    /*7th section --------------------------------- */
    .contato-section{
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 93px;
        align-items: center;
    }

    .contato-section h1{
        font-size: 2.7rem;
    }

    .contato-section p{
        font-size: 1.4rem;
    }

    .contato-section figure{
        position: relative;
        width: 130%;
        height: 20px;
    }

    .contato-section figure img{
        top: 23px;
        left: -24%;
        height: 303%;
    }

    .contato-section form input{
        height: 63px;
        font-size: 1.3rem;
    }

    .contato-section form textarea{
        height: 130px;
        resize: none;
        font-size: 1.3rem;
    }

    .contato-section form button{
        font-size: 1.3rem;
        height: 83px;
    }

}

/* 800px */
@media only screen and (min-width: 800px) {
    /* 2nd section ------------------- */
    .sobre-nos-section{
        margin-top: 70px;
    }
    
    .txtImg02 span{
        width: 70%;
        font-size: 1.8rem;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*hero section*/
    main{
        padding: 5% 10% 0 10%;
    }
    
    .bg-disco{
        height: 78%;
        top: 14%;
        left: -5%;
    }

    .txtHero{
        width: 50%;
    }
    
    .txtHero h1{
        font-size: 3.3rem;
    }

    .txtHero p{
        font-size: 1.5rem;
    }

    .hero-search input{
        padding: 23px;
        font-size: 1rem;
    }

    .hero-search button{
        padding: 23px;
    }

    /* 2nd section ------------------- */
    .sobre-nos-section{
        flex-direction: row;
        gap: 130px;
        align-items: end;
        margin-top: 273px;
        padding: 10% 10% 0 10%;
    }

    .sobre-nos-section .txt-box{
        padding: 0;
    }

    .txtImg-container{
        width: 40%;
    }
    
    .txtImg01 figure,
    .txtImg02 figure{
        width: 100%;
        overflow: hidden;
    }
    
    .txtImg02 figure{
        text-align: right;
    }
    
    .txtImg01 figure img,
    .txtImg02 figure img{
        width: 100%;
    }
    
    .txtImg01 figure img,
    .txtImg02 figure img{
        border-radius: 20px;
    }
    
    .txtImg-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }
    
    .txtImg02{
        display: flex;
        justify-content: right;
        flex-direction: column-reverse;
        gap: 100px;
    }
    
    .txtImg02 span{
        width: 100%;
        font-size: 2rem;
    }

    /*4th section ------------------- */
    .tipos-section{
        padding: 3px 10% 3px 10%;
        width: 100%;
    }
    
    .tipos-section .txt-box{
        padding: 0;
    }
    
    .imovel-cards-container{
        justify-content: space-between;
        flex-direction: row;
        gap: 0px;
        align-items: center;
        width: 100%;
        overflow-x: hidden;
    }
    
    .imovel-card{
        padding: 70px 53px;
        width: 533px;
        height: 473px;
        color: white;
    }

    .imovel-card h1{
        font-size: 2rem;
    }

    /*7th section --------------------------------- */
    .contato-section{
        justify-content: start;
        flex-direction: row;
        align-items: start;
    }

    .contato-section .txt-box,
    .contato-section form{
        width: 40%;
    }

    .contato-section h1{
        font-size: 3rem;
    }

    .contato-section p{
        font-size: 1.5rem;
    }

    .contato-section figure img{
        top: 33px;
        left: -53%;
        height: 353%;
    }

    .contato-section form input{
        height: 63px;
        font-size: 1.2rem;
    }

    .contato-section form textarea{
        height: 130px;
        resize: none;
        font-size: 1.2rem;
    }

    .contato-section form button{
        font-size: 1.2rem;
        height: 73px;
    }

    /*8th section (footer) ----------------*/
    footer{
        display: flex;
        justify-content: start;
        flex-direction: row-reverse;
        gap: 53px;
        align-items: start;
        padding: 130px 10%;
        color: white;
        background-color: var(--black);
    }

    footer .info-row{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: start;
        width: 100%;
        height: 203px;
    }

    footer .info-row01{
        order: 1;
    }

    footer .brand-desc p{
        margin-top: 30px;
        font-size: 0.9rem;
        font-weight: lighter;
    }

}